//META{"name":"gamer","description":"gamer","author":"gamer","version":"1.0"}*//{}
:root {
    --inner-transparent: rgba(0, 0, 0, 0.3);
    --middle-transparent: rgba(0, 0, 0, 0.5);
    --outer-transparent: rgba(0, 0, 0, 0.6);
    --clr-dark-700:rgb(56, 56, 56);
    --font-display: Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif
}

body {
    /* 
    font-family: "Fira Code";
    */
    /* background: url(https://i.imgur.com/uhdTSVU.png)no-repeat fixed right; */
    /* background: url(https://i.imgur.com/lBFLlfy.png)no-repeat fixed right; */
    /* background: url(http://chito.ge/8mpTFnm.png)no-repeat fixed right; */
    /* background: url(https://chito.ge/AgUxAhQ.png)no-repeat fixed right; */ 
    background: url(https://chito.ge/2qZC9Ym.png)no-repeat fixed right;
    background-size: cover;
}

body>div:last-of-type {
    background: none !important;
}

.bg-h5JY_x {
    background-color: transparent;
}

/* Home icon */

/* Remove SVG overlay */
.wrapper-1BJsBx svg:not(:root) {
    color: rgba(255, 255, 255, 0) !important;
}

/* Display background */
.theme-dark .homeIcon-FuNwkv {
    background: url(https://i.imgur.com/GI3h7Af.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
}

/* Remove background from most things initially */
.app-2rEoOp,
.appMount-3lHmkl,
.sidebar-2K8pFh,
.container-3w7J-x,
.chat-3bRxxu,
.container-1r6BKw.themed-ANHk51,
.members-1998pB,
.members-1998pB>div,
.wrapper-3NnKdC,
.scroller-1Bvpku,
.expandedFolderBackground-1cujaW,
.folder-1hbNCn,
.layer-3QrUeG,
.standardSidebarView-3F1I7i,
.sidebarRegionScroller-3MXcoP,
.contentRegion-3nDuYy,
.contentRegionScroller-26nc1e,
.channelTextArea-rNsIhG,
.scrollableContainer-2NUZem,
.privateChannels-1nO12o,
.scroller-1JbKMe,
.theme-dark .container-1D34oG,
.nowPlayingColumn-2sl4cE,
.stageSection-3mAD8V,
.scroller-1IIF0A,
.header-39GIC8,
.applicationStore-1pNvnv,
.scroller-9moviB,
.titleContainer-2CXtJo,
.header-2mZ9Ov,
.theme-dark .pageWrapper-1PgVDX,
.scroller-305q3I,
.messagesPopoutWrap-1MQ1bW,
.header-ykumBX,
.messageGroupWrapper-o-Zw7G,
.footer-1kmXd4,
.searchResultsWrap-3-pOjs,
.searchHeader-2XoQg7,
.searchResult-9tQ1uo,
.channelName-1JRO3C,
.cardFolder-28dwxo,
.preview-2nSL_2,
.theme-dark .paymentPane-3bwJ6A,
.theme-dark .paginator-166-09,
.theme-dark .payment-xT17Mq,
.scroller-zPkAnE,
.container-_phMUq,
.replyBar-1YLQ2F, .threadSuggestionBar-2ufK2Z,
.embedFull-2tM8--,
.theme-dark .footer-2gL1pp,
.theme-dark .message-2qRu38,
.chat-3bRxxu, .threadSidebar-1o3BTy{
    background: none;
}

/* Top Discord line */
.typeWindows-1za-n7 {
    background-color: var(--outer-transparent);
    margin-top: 0;
    padding-top: 4px;
}

.wordmarkWindows-1v0lYD {
    display: none;
}

/* Quick switcher */
.quickswitcher-3JagVE{
    background: rgba( 155, 155, 155, 0.20 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
}

.input-2VB9rf{
    background-color: var(--inner-transparent);
}

/*      */
/* Chat */
/*      */

.theme-dark .messagesWrapper-1sRNjr,
.theme-dark .chat-3bRxxu form {
    background-color: var(--inner-transparent);
}

/* Shadow above chat box */
.theme-dark .form-2fGMdU:before {
    height: 5px;
    width: 100%;
    top: -5px;
    background: linear-gradient(180deg, transparent 0, rgba(0, 0, 0, 0.1));
}

.chat-3bRxxu form {
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
}

/* Shifting typing status  */
.theme-dark .typing-2GQL18 {
    padding-left: 20px;
    padding-right: 20px;
}

/* Giving chat box a nice size */
.channelTextArea-rNsIhG {
    margin-top: 0;
    margin-bottom: 20px;
    padding-top: 20px;
}

/* Bottom voice section */
.theme-dark .panels-j1Uci_ {
    background-color: var(--middle-transparent);
}


/* Emote/Gif picker height */
.positionContainer-DEuh7X {
    height: 800px;
}

/* Obliterate the gift nitro button */
.inner-MADQqc>.buttons-3JBrkn> :nth-child(1) {
    display: none !important;
}

/* Reply bar */
.attachedBars-tZDmyV{
    background-color: var(--inner-transparent);
}

/* Embed */
.embedFull-2tM8--{
    background-color: var(--inner-transparent);
    /* 
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
     */
}

/* Readjust the position of rightside message buttons */
.container-3npvBV {
    top: 0px;
}

/* Remove the background from the rightside message buttons */
.wrapper-2aW0bm {
    box-shadow: none;
    transition: none;
    background-color: rgba(0, 0, 0, 0);
}

/* Remove hover effect from messages */
.message-2qnXI6.selected-2P5D_Z,
.mouse-mode.full-motion .message-2qnXI6:hover {
    background-color: rgba(0, 0, 0, 0);
}

/* But keep the effect when youre mentioned */
.message-2qnXI6.mentioned-xhSam7.selected-2P5D_Z,
.mouse-mode .mentioned-xhSam7 {
    background-color: var(--background-mentioned) !important;
}

/* Delete message popout */
.theme-dark .message-2qRu38{
    background-color: var(--inner-transparent);
}

/* Popouts */

/* Pinned / Mentions popout */
.messagesPopoutWrap-1MQ1bW{
    background-color: var(--inner-transparent);
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
}

.header-ykumBX{
    background-color: var(--inner-transparent);
}

/* Pinned popout */
/* Individual pinned message */
.messageGroupWrapper-o-Zw7G{
    background-color: var(--inner-transparent);
}
/* Footer */
.footer-1kmXd4{
    background-color: var(--inner-transparent);
}

/* Mentions popout */
/* Mentioned channel header */
.channelHeader-3Gd2xq{
    background-color: var(--middle-transparent);
}
/* Mentioned message */
.messageContainer-gbhlwo{
    background-color: var(--inner-transparent);
    border-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Mentions close button */
.closeButton-1152MI{
    margin-right: 12px;
}

/* Search popout */


/* Search result */

.searchResultsWrap-3-pOjs{
    background-color: var(--middle-transparent);
}
/* Search result header */
.searchHeader-2XoQg7{
    background-color: var(--inner-transparent);
}
/* Individual search results */
.searchResult-9tQ1uo{
    background-color: var(--inner-transparent);
}


/*        */
/* SERVER */
/*        */

/* Border radius near server name */
.platform-win .sidebar-2K8pFh {
    border-radius: 0;
}

/* Channel name */
.container-1r6BKw.themed-ANHk51 {
    background-color: var(--middle-transparent);
}

/* Channel info popout */
/* This is glassmorphism */
/* I will disable this as this goes for multiple things */

.theme-dark .root-1gCeng{
    background: rgba( 155, 155, 155, 0.20 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
}

/* Channel settings */
.settingCard-3w2mVL.active-1ytUzX{
    background-color: var(--inner-transparent);
}
.settingCard-3w2mVL{
    background-color: var(--inner-transparent);
}

/* Sync status header */
.card-4s8auQ{
}

/* Member list */
.members-1998pB {
    background-color: var(--middle-transparent);
}

/* Channel list */
.container-3w7J-x {
    background-color: var(--middle-transparent);
/* 
    backdrop-filter: blur( 25px );
    -webkit-backdrop-filter: blur( 25px );
     */
}

/* Threads */
.threadSidebar-1o3BTy{
    margin-left: 0;
    border-radius: 0;
    border-left: 2px solid var(--outer-transparent);
}
.chat-3bRxxu.threadSidebarOpen-vdkwIh{
    border-radius: 0;
}

.form-2fGMdU {
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--inner-transparent);
}

/* Threads popout */
.header-1VS4tm{
    background-color: var(--inner-transparent);
}
.container-7uh5fX{
    background-color: var(--inner-transparent);
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
}

.container-2I9Hud{
    background-color: var(--inner-transparent);
    border-color: var(--inner-transparent);
}
.container-2I9Hud:hover{
    border-color: var(--clr-dark-700);
}


/* Change unread tick */
.unread-2lAfLh {
    margin-top: 0;
    height: 90%;
    top: 5%;
    border-radius: 0;
    width: 2px;
}

/* Server settings */

/* Roles screen */

/* Default permission header */
.container-_phMUq{
    background-color: var(--inner-transparent);
}

.roleRow-30TwGe:before, .roleRow-30TwGe:last-child:after{
    background:none;
}
.roleRow-30TwGe{
    background-color: var(--inner-transparent);
    margin-bottom: 1px;
    border-radius: 0;
}
.roleRow-30TwGe:nth-child(3){
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.roleRow-30TwGe:last-child{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Emoji screen */
.theme-dark .emojiRow-zIc7ZX{
    padding:12px;
    background-color: var(--inner-transparent);
}

/* Audit log screen */




/* Integrations screen*/
.theme-dark .card-o7rAq-{
    background-color: var(--inner-transparent);
}




/*             */
/* Server list */
/*             */

.wrapper-3NnKdC {
    background-color: var(--outer-transparent);
    /* 
    backdrop-filter: blur( 25px );
    -webkit-backdrop-filter: blur( 25px );
     */
}

/* Expanded folder background color */

.theme-dark .expandedFolderBackground-1cujaW {
    background-color: var(--inner-transparent);
}


/*             */
/* Home screen */
/*             */


/* Friend list column */
.privateChannels-1nO12o {
    background-color: var(--middle-transparent);
}

/* Active Now column */
.container-lRFx4q {
    background-color: var(--middle-transparent);
}

/* Friends section */
.peopleColumn-29fq28 {
    background-color: var(--inner-transparent);
}

/* Stage section */
.stageSection-3mAD8V {
    background-color: var(--inner-transparent);
}

/* Library section */
.scroller-1IIF0A {
    background-color: var(--inner-transparent);
}

/* Nitro section */
.scroller-9moviB {
    background-color: var(--inner-transparent);
}

/*                      */
/* Profile card - small */
/*                      */

/* Gets rid of the "Set a Server Nickname" text */
.setIdentityLink-1t8Ahd {
    display: none
}


/*                      */
/* Profile card - large */
/*                      */

.body-3HBlXn,
.infoScroller-1Qu30O {
    animation: userinfo_slide 600ms cubic-bezier(.5, 0, 0, 1)
}

@keyframes userinfo_slide {
    from {
        transform: translate(-10px, 0);
        opacity: 0;
    }
}

/* Animations for buttons on the user profile */
.top-28JiJ- .item-PXvHYJ:nth-of-type(1) {
    animation: tabItem_Slide 300ms cubic-bezier(.5, 0, 0, 1) 400ms backwards;
}

.top-28JiJ- .item-PXvHYJ:nth-of-type(2) {
    animation: tabItem_Slide 300ms cubic-bezier(.5, 0, 0, 1) 450ms backwards;
}

.top-28JiJ- .item-PXvHYJ:nth-of-type(3) {
    animation: tabItem_Slide 300ms cubic-bezier(.5, 0, 0, 1) 500ms backwards;
}

.top-28JiJ- .item-PXvHYJ:nth-of-type(4) {
    animation: tabItem_Slide 300ms cubic-bezier(.5, 0, 0, 1) 550ms backwards;
}

.top-28JiJ- .item-PXvHYJ:nth-of-type(5) {
    animation: tabItem_Slide 300ms cubic-bezier(.5, 0, 0, 1) 600ms backwards;
}

@keyframes tabItem_Slide {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }
}

/* Mutual servers | Mutual friends - two rows, smaller server buttons */
.listRow-hutiT_,
.listRow-1iDGel {
    flex: 1 1 45%;
    background-color: var(--inner-transparent);
    padding: 5px;
    margin: 2px 0 2px 4px;
}

.listScroller-3GmIYj{
    display: flex;
    flex-flow: row wrap;
    animation: listrow_slide 600ms cubic-bezier(.5, 0, 0, 1) 50ms backwards;
}

/* Slide-in animation */
@keyframes listrow_slide {
    from {
        transform: translate(0, -10px);
        opacity: 0;
    }
}


/*                 */
/* Settings screen */
/*                 */

/* Several cards used for info etc */
.cardPrimary-1Hv-to{
    background-color: var(--inner-transparent);
}

/* Left side */
.sidebarRegionScroller-3MXcoP {
    background-color: var(--middle-transparent);
}

/* Right side */
.contentRegion-3nDuYy {
    background-color: var(--inner-transparent);
}

/* Checked button */
.item-26Dhrx[aria-checked=true]{
    background-color: var(--middle-transparent);
}

/* Unchecked button */
.item-26Dhrx{
    background-color: var(--inner-transparent);
}

/* Dropdown menu */
.css-gvi9bl-control{
    background-color: var(--inner-transparent);
}

/* Authorized apps screen */

/* Authorized apps */
.authedApp-mj2Hmd{
    background-color: var(--inner-transparent);
}


/* Server boost screen */

/* Active server boosts */
.guildSubscriptionSlots-JPXXvN{
    background-color: var(--inner-transparent);
}

/* Server boost suggestions */
.cardWrapper-2Min21{
    background-color: var(--inner-transparent);
}


/* Billing screen */

/* Entire payment panel */
.theme-dark .paymentPane-3bwJ6A{
    background-color: var(--inner-transparent);
}

/* Individual payments : hover */
.theme-dark .hoverablePayment-Yc6mK7:hover{
    background-color: var(--inner-transparent);
}

/* Expanded payment details */
.theme-dark .expandedInfo-3kfShd{
    background-color: var(--inner-transparent);
}

/* Redeem nitro code card */
.theme-dark .codeRedemptionRedirect-1wVR4b{
    background-color: var(--inner-transparent);
}


/* Activity status screen */

.theme-dark .notDetected-33MY4s, 
.theme-light .notDetected-33MY4s{
    background-color: var(--inner-transparent);    
}

.theme-dark .game-1ipmAa{
    background-color: var(--inner-transparent);
    padding: 10px;
}

.theme-dark .game-1ipmAa:first-of-type{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.theme-dark .game-1ipmAa:last-of-type{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


/* Game overlay screen */

/* Game overlay preview */
.wrapper-3jrx9n {
    background: url("https://steamcdn-a.akamaihd.net/steam/apps/319510/ss_cfe4d47366356fef6c7a8da2c0782b143584bbe4.1920x1080.jpg?t=1447363301");
    background-size: cover;
}
/*                  */
/* Server discovery */
/*                  */


.theme-dark .pageWrapper-1PgVDX {
    background-color: var(--inner-transparent);
}

